.DS_Store
.idea/*
Pods/*
*.ipa
*.xcuserdata
DerivedData
*.xccheckout
build/
*.DS_Store
*.dSYM.zip
*.dSYM
Build
test-reports/
Pods
*.gitignore
*/project.xcworkspace
*.xcuserstate
Dolores-iOS/Dolores.xcodeproj/xcuserdata
*.xcworkspacedata
Dolores.xcworkspace/xcuserdata/heath.xcuserdatad/xcschemes
Dolores.xcodeproj/xcuserdata
Dolores.xcworkspace/xcuserdata/
*/xcuserdatad
node_modules/*