.DS_Store
.idea/*
Pods/*
*.ipa
*.xcuserdata
DerivedData
*.xccheckout
build/
iOSInjectionProject/
*.DS_Store
*.dSYM.zip
*.dSYM
Build
test-reports/
Pods
*.gitignore
*/project.xcworkspace
*.xcuserstate
Dolores-iOS/Dolores.xcodeproj/xcuserdata
*.xcworkspacedata
